<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>

<html>
<head>
  <title>
Orbit-list Project
  </title>
  <style>
    body {
      font-family: 'Helvetica', 'Courier';
    }
  
    h3 {
        color: #34495E;
    }
  </style>
</head>
<body>
  <app-orbit-list [satellites]="displayList"></app-orbit-list>
  <div class="search-form">

    Search: <input #searchTerm type='text' (keyup.enter)='search(searchTerm.value)'/>
        <button (click)='search(searchTerm.value)'>Search</button>

   </div>

</body>
</html>


